.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1030;
    background-color: rgb(227, 227, 227);
    padding:1rem;
}
.mt-header{
    margin-top: 150px;
}
.button{
    transition: all 0.2s linear;
}
.button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
    transform: translateY(-2px);
    transition: all 0.2s linear;
}       
.product-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.text-muted {
  opacity: 0.5;
}
.pointer{
  cursor: pointer;
}
.slider .carousel-inner {
  height: 80vh;
}

.slider .carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-title {
  animation: slideInFromLeft 0.8s ease-out forwards;
}